
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 220px;
    border-right: 1px solid #e3e8ee;
    overflow: auto;
}

.container > .content {
    margin-left: 220px;
    padding-bottom: 440px;
}

.side-nav > .logo {
    padding: 40px 20px;
}

.container > .content > .logo {
    display: none;
}

@media (max-width: 800px) {
    .side-nav {
        display: none;
    }

    .container > .content {
        margin-left: 0;
    }

    .container > .content > .logo {
        display: block;
        width: 160px;
        margin: 40px 0 0 40px;
    }
}

.nav-heading {
    text-transform: uppercase;
    color: #2a2f45;
    font-size: 12px;
    line-height: 28px;
    font-weight: 600;
    padding: 0 20px;
}

.nav-items {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items li {
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}

.nav-items li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: #8792a2;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s, background-color 0.3s;
}

.nav-items li > a.active, .nav-items li > a:hover {
    background-color: #F7FAFC;
    color: #2a2f45;
}

.nav-items li > a.active::before {
    content: "•";
    font-weight: 400;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
    font-size: 24px;
    color: #E1905D;
}

.spacer-20 {
    width: 20px;
    height: 20px;
}

.spacer-40 {
    width: 40px;
    height: 40px;
}

.section {
    border-bottom: 1px solid #e3e8ee;
    padding: 60px;
}

@media (max-width: 800px) {
    .section {
        padding: 40px;
    }
}

.section h1 {
    position: relative;
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    color: #2a2f45;
}

.section h1::before {
    content: "#";
    font-weight: 400;
    margin-left: -20px;
    position: absolute;
    font-size: 24px;
    color: #E1905D;
}

.section h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: #2a2f45;
}

.section p {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 28px;
    color: #4f566b;
    font-weight: 300;
}

.section ul {
    color: #4f566b;
}

.caption {
    font-size: 14px;
    line-height: 20px;
    color: #8c8f97;
}

.section ul > li {
    margin-bottom: 12px;
}

.section > .content {
    display: flex;
}

.section > .content > div:first-child {
    flex: 1;;
    margin-right: 40px;
}

.section > .content > div:last-child {
    flex: 1;
    margin-left: 40px;
    overflow-x: auto;
}

@media (max-width: 1200px) {
    .section > .content {
        flex-direction: column;
    }

    .section > .content > div:first-child {
        margin-right: 0;
    }

    .section > .content > div:last-child {
        margin-left: 0;
    }
}

a {
    color: #536fef;
    text-decoration: none;
    font-weight: 400;
}

code {
    white-space: nowrap;
}

.code {
    background-color: #3b404b;
    font-size: 12px !important;
    border-radius: 4px;
    overflow: hidden;
}

.code > pre {
    margin: 0 !important;
    border-radius: 0 !important;
}

.code-header {
    color: #c1c9d2;
    line-height: 28px;
    padding: 4px 20px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

pre {
    color: #4f566b;
    font-size: 12px;
}

div.accordion {
    border-bottom: 1px solid #e3e8ee;
}

div.accordion > input[type=checkbox] {
    display: none;
}

div.accordion > label {
    position: relative;
    display: block;
    cursor: pointer;
    color: #536fef;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}

div.accordion > label:before {
    content: url(./chevron.svg);
    position: absolute;
    left: -16px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

div.accordion > input[type="checkbox"] ~ .content {
    display: none;
}

div.accordion > input[type="checkbox"]:checked ~ .content {
    display: block;
    padding-bottom: 20px;
}

div.accordion > input[type="checkbox"]:checked ~ label:before {
    transform: rotate(0deg);
}
